.headercontainer {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #025feb;
  padding: 0 40px;
  height: 60px;
}

.headercontainer > img {
  width: 110px;
}

.buttonwrapper {
  display: flex;
}

.buttonwrapper > a {
  color: #ffffff;
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 40px;
  text-decoration: none;
}

.buttonwrapper > a > img {
  height: 25px;
}
